/* PCListFilters.module.css */
.filtersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 0;
    justify-content: space-between;
  }
  
  .searchInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .select {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .filtersContainer {
      flex-direction: column;
    }
    
    .searchInput, .select {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  